@{
    ViewData["Title"] = "StayGo - Encuentra en qué lugares quedarte";
}

<div class="main-background">
    <div class="search-overlay">
        <h2>Encuentra en qué lugares quedarte</h2>
        <form asp-controller="Home" asp-action="SearchResults" method="get">
            <div class="form-group">
                <label for="location">UBICACION</label>
                <input type="text" id="location" name="location" placeholder="Ubicación" />
            </div>
            <div class="form-group date-inputs">
                <div class="date-group">
                    <label for="checkin">SALIDA</label>
                    <input type="date" id="checkin" name="checkin" />
                </div>
                <div class="date-group">
                    <label for="checkout">LLEGADA</label>
                    <input type="date" id="checkout" name="checkout" />
                </div>
            </div>
            <div class="form-group number-inputs">
                <div class="number-group">
                    <label for="children">NIÑOS</label>
                    <div class="number-counter">
                        <button type="button" class="btn-minus">-</button>
                        <input type="text" id="children" name="children" value="0" readonly />
                        <button type="button" class="btn-plus">+</button>
                    </div>
                </div>
                <div class="number-group">
                    <label for="adults">ADULTOS</label>
                    <div class="number-counter">
                        <button type="button" class="btn-minus">-</button>
                        <input type="text" id="adults" name="adults" value="0" readonly />
                        <button type="button" class="btn-plus">+</button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-search">Buscar</button>
        </form>
    </div>
</div>