@{
    ViewData["Title"] = "Registrarse";
}

<div class="form-container">
    <h2>Registrar</h2>
    <a asp-controller="Home" asp-action="Login" class="link-to-login">¿Ya tienes una cuenta?</a>
    <form asp-controller="Account" asp-action="Register" method="post">
        <input type="text" name="Nombres" placeholder="Nombres" required />
        <input type="text" name="Apellidos" placeholder="Apellidos" required />
        <input type="email" name="Email" placeholder="Email" required />
        <input type="password" name="Contraseña" placeholder="Contraseña" required />
        <input type="tel" name="Telefono" placeholder="Telefono" />
        <div class="form-group-checkbox">
            <input type="checkbox" id="remember" name="remember" />
            <label for="remember">Recuérdame</label>
        </div>
        <button type="submit" class="btn-submit">REGISTRAR</button>
    </form>
</div>